@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap');

*{
    font-family: "Bitcount", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ::-webkit-scrollbar{
  display: none;
} */
body{
  color:rgb(0, 0, 0);
  min-height: 100vh;
}